## mako
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/main.html" />
<%block name="bodyclass">view-new_tab_type is-in-course course</%block>
<%block name="pagetitle">Dummy APP</%block>
<%block name="headextra">
<%static:css group='style-course'/>
</%block>
<%include file="/courseware/course_navigation.html" args="active_page='PAGE-SLUG'" />

      <div class="container">
    <div class="teams-wrapper">
        <main id="main" aria-label="Content" tabindex="-1">
            <section class="teams-content">
                <h1>SUCCESS!!!!! 5<h1>
            </section>
        </main>
    </div>
</div>
